#CONTEUDOS{
	padding:0 !important;
}


.jconfirm {
	z-index: 99999991 !important;
}


.content-wrapper{
	border:#FF0004 solid 0px !important;
	padding:6px !important;
}


/* Center the loader */
#loader {
position: fixed;
  left:0;	
  top: 0;
  z-index:9999999999999 !important;	
  text-align: center;	
  color: #fff !important;
  background: rgba(255, 36, 0, 0.50); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(255, 36, 0, 0.50), rgba(255, 36, 0, 0.50) 10%, rgba(255, 36, 0, 0.50)); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(255, 36, 0, 0.50), rgba(255, 36, 0, 0.50) 10%,rgba(255, 36, 0, 0.50)); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(255, 36, 0, 0.50), rgba(255, 36, 0, 0.50) 10%,rgba(255, 36, 0, 0.50)); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(255, 36, 0, 0.50)', endColorstr='rgba(255, 36, 0, 0.50)',GradientType=0 ); /* IE6-9 */
}
/* Fim Center the loader */


/* INICIO CEMOJI */
input[EMOJI] {
	 opacity: 0; 
	 position:absolute !important;
}
i[EMOJI]{
	margin-top:20px;
	margin-left:2px;
	font-size:28px;
	cursor:pointer;
	position:absolute !important;
	left:0 !important;
}
.trigger input[type="checkbox"] + div {
	 visibility: hidden;
	 opacity: 0;
	 transition: visibility 0s linear 0.33s, opacity 0.33s linear;
	 position:absolute !important;
	 z-index:99 !important;
}
 .trigger input[type="checkbox"]:checked + div {
	 visibility: visible;
	 opacity: 1;
	 transition-delay: 0s;
	 position:absolute !important;
	 z-index:99 !important;
}
 .msg {
	 margin-top: 8px;
	 padding: 8px 12px;
	 border: 1px solid #ddd;
	 border-radius: 3px;
	 position:absolute !important;
	 background:#fff;
	 z-index:99 !important;
}

.nav-link + active{
	border: #171717 solid 1px !important;
}
/* Fim CEMOJI */




.Ordem{
	width:8px !important;
	height:10px !important;
}

.AlertCampo{
	font-size:12px !important;;
	color: #F90004 !important;
}

.MenusAoPassar:hover{
	color:#000 !important;
}


.imgPerfil{
cursor:pointer;
}	

.imgPerfil:hover .EditFperfil{
display: block;
}

.EditFperfil{
display:none;
font-size:14px;
position:absolute;
margin-top:-20px;
cursor:pointer;
}
.EditFperfil:hover{
color:#2400BB;
}
#FotoPerfil{
	position: absolute;
	margin-left:0px;
	cursor:pointer;
	margin-top:-15px;
}

.IconsNiver{
position: absolute; 
margin-top:35px !important;
margin-left:8px;
font-size:20px;	
color:#000;
}

.Icons{
position: absolute; 
margin-top:14px !important;
margin-left:8px;
font-size:20px;	
color:#000;
}

.IconsConfirm{
position: absolute; 
margin-top:10px;
margin-left:8px !important;
font-size:20px;	
color:#000;
}

textarea[InputFormConfirm]{
	background: rgba(47, 145, 191, 0.0);
	color:#000;
	padding-left:10px;
	border-radius: 10px;
}	
textarea[InputFormConfirm]:focus{
	background: rgba(47, 145, 191, 0.0);
	color:#000;
	padding-left:10px;
	border-radius: 10px;
}


input[InputFormConfirm]{
	background: rgba(47, 145, 191, 0.0);
	color:#000;
	padding-left:50px;
	border-radius: 10px;
}	
input[InputFormConfirm]:focus{
	background: rgba(47, 145, 191, 0.0);
	color:#000;
	padding-left:50px;
	border-radius: 10px;
}

input[InputFormConfirm]::-webkit-input-placeholder {
color: #000 ;
}	
input[InputFormConfirm]::-ms-input-placeholder {
color: #000 ;
}	
input[InputFormConfirm]:-ms-input-placeholder {
color: #000 ;
}


input[InputForm]{
	background: rgba(0, 0, 0, 0.0);
	color:#000;
	padding-left:40px;
	border-radius: 6px;
}	
input[InputForm]:focus{
	background: rgba(0, 0, 0, 0.0);
	color:#000;
	padding-left:40px;
	border-radius: 6px;
}


select[InputForm]{
	background: rgba(0, 0, 0, 0.0) !important;
	color:#000;
	padding-left:40px !important;
	border-radius: 10px !important;
}	
select[InputForm]:focus{
	background: rgba(0, 0, 0, 0.0) !important;
	color:#000 !important;
	padding-left:40px !important;
	border-radius: 10px !important;
}

option[InputForm]{
	background: rgba(0, 0, 0, 0.0) !important;
	color:#000 !important;
	padding-left:40px !important;
	border-radius: 10px !important;
}	
option[InputForm]:focus{
	background: rgba(0, 0, 0, 0.0) !important;
	color:#000 !important;
	padding-left:40px !important;
	border-radius: 10px !important;
}





input[InputFormNumber]{
	background: rgba(0, 0, 0, 0.0);
	color:#000;
	padding-left:3px;
	border-radius: 6px;
}	
input[InputFormNumber]:focus{
	background: rgba(0, 0, 0, 0.0);
	color:#000;
	padding-left:3px;
	border-radius: 6px;
}


.AoclicarList:hover{
	cursor:pointer;
	color:#255724 !important;
}

.TituloForms{
	font-size:10px;
	color:#000;
	font-weight:bold;
}

.round {
	padding:8px;
    height: 30px;
    width: auto;    
	display: inline-block;
    /*line-height: 30px;*/
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #222;    
    color: #FFF;
    text-align: center;  
}